<!-- templates/admin/clients.html -->
{% extends "admin/base_admin.html" %}
{% block admin_content %}
<h2>Список клиентов</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Общий долг</th>
            <th>Автомобили</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.user.get_full_name }}</td>
            <td>{{ client.phone_number }}</td>
            <td>{{ client.user.email }}</td>
            <td>{{ client.total_debt|default:"0.00" }} руб.</td>
            <td>
                {% for car in client.owned_cars.all %}
                {{ car.license_plate }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}